.section {
  min-height: calc(100vh - 80px);
  display:flex;
  align-items:center;
  padding-block:clamp(3rem, 6vw, 5rem);
  position: relative;
  z-index: 2;
  padding-bottom: 6rem;
}

.section::before{
    content:"";
    position:absolute;
    inset:0;

    background:#FFDCC8;

    filter: blur(140px);

    opacity:.45;

    mask-image: linear-gradient(
        to bottom,
        black 0%,
        black 70%,
        transparent 100%
    );

    -webkit-mask-image: linear-gradient(
        to bottom,
        black 0%,
        black 70%,
        transparent 100%
    );
    z-index: -1;
}