.card {
    border-radius: var(--radius-2xl);
    border-width: var(--border-width-thin);
    border-color: rgb(74, 93, 71,0.12);
    background-color: var(--color-neutral-100);
    color: var(--color-text-body);
    box-shadow: var(--shadow-md);
}

.heading {
    font-weight: var(--font-weight-bold);
    font-size: var(--text-2xl);
    color: var(--color-primary-900);
    line-height: 1.5;
}

.price {
    font-weight: var(--font-weight-semibold);
    font-size:  var(--text-xl);
}

.subheading {
    color: var(--color-neutral-500);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
}