.article {
    background: var(--color-primary-100);
    box-shadow: var(--shadow-md);
    border-radius: 28px;
    border: 1px solid transparent;
}

.large {
  grid-column: span 2;
}

.small {
  grid-column: span 1;
}

.icon {
    color: var(--color-text-inverse);
    stroke-width: 2.5px;
}

.iconWrapper {
    background-color: var(--color-primary-500);
}

.cardheading {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-tight);
    color: var(--color-primary-700);
}

.carddescription {
    color: var(--color-neutral-400);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-base);
}

