.heading {
    font-weight: var(--font-weight-bold);
    font-size: var(--text-5xl);
    color: var(--color-primary-500);
}
.description {
    font-weight: var(--font-weight-medium);
    font-size: var(--text-xl);
    color: var(--color-primary-500);
    white-space: pre-line;
}
.listItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 300px;

  border-radius: var(--radius-4xl);
  background: var(--surface-tertiary);
  box-shadow: var(--shadow-md);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: var(--border-width-thin) solid rgb(63, 57, 9,0.25);

  padding: 0.75rem;
  color: var(--color-text-alternative);
  font-size: var(--color-text-body);
  font-weight: 500;
  font-size: var(--text-md);
  line-height: 1;
}
.list {
  gap: 1.5rem 3.5rem;

  list-style: none;
  margin-top: 1.2rem;
  padding: 0;
}
