.accordionItem {
    border: 1px solid var(--border-color);
    border-radius: var(--radius-2xl);
    background: var(--color-primary-100);
    color: var(--color-primary-900);

    transition: .25s ease;
}

.active {
    border: var(--border-width-medium) solid rgb(109, 130, 99,0.15);
    box-shadow: 0 10px 30px rgb(0 0 0 / 0.06);
}

.accordionItem:hover {
    box-shadow: 0 8px 24px rgb(0 0 0 / .05);
}

.chevron {
    transition: transform .25s ease;
}

.rotate {
    transform: rotate(180deg);
}

.content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .3s ease;
    font-size: var(--text-lg);
}

.content > div {
    overflow: hidden;
    min-height: 0;
}

.open {
    grid-template-rows: 1fr;
}

.section {
  min-height: calc(100vh - 80px);
  display:flex;
  align-items:center;
  padding-block:clamp(3rem, 6vw, 5rem);
  position: relative;
  overflow-x: hidden;
  z-index: 1;
  padding-bottom: 6rem;
}

.section::after{
    content:"";
    position:absolute;

    width:500px;
    height:500px;

    background:var(--surface-page);
    border-radius:50%;

    right:-150px;
    top:70%;

    transform:translateY(-50%);
    opacity: 0.5;

    filter:blur(50px);
    z-index: -1;
}

.illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto
}