.icon {
    width: 24px;
    height: 24px;
    color: var(--color-primary-500);
}

.trust p {
    font-weight: 500;
    font-size: medium;
}

.trust {
  padding-block: 2.5rem;
}

@media (min-width: 768px) {
  .trust {
    padding-top: clamp(3rem, 6vw, 5rem);
    padding-bottom: 6rem;
  }
}