.documentCard {
    background-color: var(--color-primary-50);
    border-radius: var(--radius-lg);
    border: var(--border-width-thin) solid rgb(74, 93, 71,0.15);
    position: relative; 
    overflow: hidden;
    box-shadow: var(--shadow-md);
}

.documentCard::after {
    content: "";
    position: absolute;

    width: 170px;
    height: 170px;

    right: -80px;
    bottom: -80px;

    border-radius: 50%;

    background:
        radial-gradient(circle at 30% 40%, var(--color-primary-500) 20%, transparent 20%),
        radial-gradient(circle at 53% 30%, var(--color-primary-500) 29%, transparent 25%),
        radial-gradient(circle at 23% 63%, var(--color-primary-500) 22%, transparent 20%);

    filter: blur(2px);
    opacity: 0.25;
}

.heading {
    font-size: var(--text-lg);
    white-space: pre-line;
    font-weight: var(--font-weight-semibold);
}

.list {
    font-size: var(--text-base);
    line-height: var(--line-height-tight);
    font-weight: var(--font-weight-medium);

}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 9rem;

  /* space below the header */
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  /* divider */
  border-bottom: var(--border-width-medium) solid var(--color-accent-dark);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.75rem;
  height: 2.75rem;

  border-radius: 9999px;

  background: var(--color-primary-200); /* or a very light brand colour */
  color: var(--color-primary);

  flex-shrink: 0;
}

.cardHeader svg {
  color: var(--color-primary);
  flex-shrink: 0;
}

.section {
  min-height: calc(100vh - 80px);
  display:flex;
  align-items:center;
  padding-block:clamp(3rem, 6vw, 5rem);
  position: relative;
  z-index: 2;
  padding-bottom: 6rem;
}

.section::before{
    content:"";
    position:absolute;

    width:700px;
    height:700px;

    background:var(--surface-page);
    border-radius:50%;

    left:-150px;
    top:50%;

    transform:translateY(-50%);
    opacity: 0.5;

    filter:blur(50px);
    z-index: -1;
}

.section::after{
    content:"";
    position:absolute;

    width:500px;
    height:500px;

    background:var(--surface-page);
    border-radius:50%;

    right:50px;
    top:70%;

    transform:translateY(-50%);
    opacity: 0.5;

    filter:blur(50px);
    z-index: -1;
}