.heading {
    font-size: clamp(2.5rem, 8vw, 3rem);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-relaxed);
    color: var(--color-primary-900);
}

.subheading {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-relaxed);
}
.highlight {
  text-decoration: underline;
  font-style: italic;
  color:var(--color-primary-500);
}

.bundleHeading {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-medium);
    margin-bottom: 1rem;
    color: var(--color-text-body);
}

.section {
  min-height: calc(100vh - 80px);
  display:flex;
  align-items:center;
  padding-block:clamp(3rem, 6vw, 5rem);
  position: relative;
  overflow-x: hidden;
  z-index: 1;
  padding-bottom: 6rem;
}

.section::before{
    content:"";
    position:absolute;
    inset:0;

    background:#FFDCC8;

    filter: blur(140px);

    opacity:.45;
    z-index: -1;

    mask-image: linear-gradient(
        to bottom,
        black 0%,
        black 70%,
        transparent 100%
    );

    -webkit-mask-image: linear-gradient(
        to bottom,
        black 0%,
        black 70%,
        transparent 100%
    );
}

.section::after {
  content: "";

  position: absolute;
  inset: 0;
  display: none;

  background:
    linear-gradient(
      120deg,
      transparent,
      rgba(1, 50, 156, 0.13),
      transparent
    );
    z-index: -1;

  pointer-events: none;
}

.illustration {
    position: relative;
    z-index: 2;
    align-content: center;
    display: block  ;
    overflow: visible;
    width: 100%;
    margin: auto
}

.listItem {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  width: 200px;


  padding: 0.75rem;
  color: var(--color-text-alternative);
  font-size: var(--color-text-body);
  font-weight: 500;
  font-size: var(--text-sm);
  line-height: 1.4;
}