.article {
    background: linear-gradient(to right, 
                                var(--color-neutral-50) 0%, 
                                var(--color-neutral-100) 50%,
                                var(--color-primary-50) 50%,
                                var(--color-primary-50) 100%);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md-right);
    transition: transform var(--duration-medium) var(--ease-standard),
                box-shadow var(--duration-medium) var(--ease-standard),
                background-color var(--duration-medium) var(--ease-standard);
    position: relative;
    overflow: visible;
    cursor: pointer;
}

.article:hover {
    box-shadow: var(--shadow-lg-right);
}


.carddescription {
    color: var(--color-neutral-400);
    font-weight: var(--font-weight-medium);
    font-style: italic;
    line-height: var(--line-height-snug);
}

.cardheading {
    font-weight: var(--font-weight-base);
    font-size: var(--text-3xl);
    line-height: var(--line-height-snug);
    color: var(--color-primary-900);
}

.highlight {
    color: var(--color-primary-500);
    font-weight: var(--font-weight-semibold);
}

.illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  max-width: 28rem;

  aspect-ratio: 4 / 4;

  padding: 0.5rem;

  overflow: visible;
}

.illustration svg {
  display: block;
  transform: scale(1.7);
}