.step {
    position: relative;
}

.stepHorizontal {
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 0;
}

.stepVertical {
    display: flex;
    gap: 1rem;
    align-items: center;

    width: 100%;
    max-width: none;
}

.visual {
    flex-shrink: 0;
    width: 120px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.stepHorizontal .visual {
    margin-bottom: 1rem;
}

.stepVertical .visual {
    margin-top: 0;
}

.content {
    flex: 1;
}

.stepHorizontal .content {
    text-align: center;
}

.stepVertical .content {
    text-align: left;
}

.title {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-semibold);
    color: var(--color-primary-500);
    margin-bottom: 0.5rem;
}

.subtitle {
    color: var(--color-neutral-400);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-sm);
    line-height: var(--line-height-tight);
}
